*.beam
*.dump
*~
.DS_Store
*.orig
*.rej
log
jquery*
.*.html
readme.edoc
changes.edoc
ebin/*.beam
ebin/*.app
etc/test/*.beam
etc/test/*.html
etc/test/ct_run*
etc/test/variables-ct*
etc/test/ct_default.css
bench.log
bench.totals
