[ {erlvolt, [
	{hosts, [
		{"ec2-23-22-204-233.compute-1.amazonaws.com", 21212},
		{"ec2-184-72-184-148.compute-1.amazonaws.com", 21212},
		{"ec2-107-20-65-147.compute-1.amazonaws.com", 21212},
		{"ec2-107-20-106-100.compute-1.amazonaws.com", 21212},
		{"ec2-50-16-156-165.compute-1.amazonaws.com", 21212},
		{"ec2-23-20-32-48.compute-1.amazonaws.com", 21212},
		{"ec2-184-73-92-163.compute-1.amazonaws.com", 21212},
		{"ec2-54-242-44-40.compute-1.amazonaws.com", 21212},
		{"ec2-184-73-3-153.compute-1.amazonaws.com", 21212},
		{"ec2-50-17-124-187.compute-1.amazonaws.com", 21212},
		{"ec2-23-20-72-127.compute-1.amazonaws.com", 21212},
		{"ec2-107-21-139-202.compute-1.amazonaws.com", 21212}
		]},
	%% This is used to synchronous benchmarks across multiple machines
	%% e.g. EC2 instances. Use e.g. 20 to have twenty seconds to start
	%% all benchmarks on all machines. All benchmarks will start after
	%% 20 to 40 seconds, all at the same wallclock time.
	{start_delay, 20}

]}].
