[ {erlvolt, [
	{hosts, [
		{"localhost", 21212}
		]},
	%% This is used to synchronous benchmarks across multiple machines
	%% e.g. EC2 instances. Use e.g. 20 to have twenty seconds to start
	%% all benchmarks on all machines. All benchmarks will start after
	%% 20 to 40 seconds, all at the same wallclock time.
	{start_delay, 20}

]}].
